/*  Companies Style */
:root{
    --text_color: #953f3f;
}
.path{
    display:flex;
}
.content-container{
    padding:20px 50px;
}
@media screen and (max-width:500px)
{
    .content-container{
        padding:20px 30px;
    }
}
.company_header{
    display:flex;
    justify-content:left;
    align-items:center;
    margin-top:40px;
}
.company_header .company-logo{
    width:60px;
    border-radius: 10px;;
    box-shadow: 2px 2px 10px gray;
    margin-right:30px;
}
.company_header h2{
    font-size:24px;
    color:#852b2b;
    font-weight: bolder;
}
.company-discription{
    margin-top:30px;
}
.company-discription p{
    color:var(--text_color);
    text-align: justify;
    font-size:12px;
}
#discrip-rm-content{
    display:none;
}
#discrip-rm-dots{
    color:#D96C6C;
}
#reademorediscrip{
    background:none;
    border:none;
    color:#D96C6C;
}
#reademorediscrip:hover{
    cursor:pointer;
}

/* company-info-table */
th{
    text-align:left;
    color:var(--text_color);
}
td{
    padding-left:30px;
    color:#1d3a91;
    margin:0;
}
tr{
    height:60px !important;
    margin:0;
}

table{
    border:2px solid var(--text_color);
    padding:20px;
    margin:20px;
    border-radius:40px;
    height:max-content;
    background-color:#fff6ed;
    font-size:12px;
}

/* Position in company */
.position-in-company, .Topics-nTP{
    background-color:#1d3a91;
    padding:20px;
    margin:20px;
    border-radius:20px;
}
.position-head, .Topics-nTP-head{
    display:flex;
    justify-content:space-between;
    color:white;
}
.position-head .material-symbols-outlined, .Topics_cover_expand .material-symbols-outlined{
    color:#1d3a91;
    padding:0;
    margin:0;
}
.position-list ul li a, .topics-list p{
    color:rgb(198, 220, 255);
    text-decoration:none;
    font-size:12px;
}
#position-list{
    display:none;
}
.position_expand, .Topics_cover_expand{
    background-color:white;
    padding:3px;
    border:none;
    border-radius:50%;
    height:30px;
    width:30px;
}
.position_expand:hover{
    cursor:pointer;
}
.view-position-in-cp{
    color:#758cd7;
    font-size:10px;
}

/* Topics need to cover */
.topic-head{
    font-size:14px !important;
    margin:10px 0 6px 0;
    font-weight: bold;
    color:#9eb5ff !important;
}
.topic-note{
    margin-top:10px;
    color:#9eb5ff !important;
}
#topics-list{
    display:none;
}
.Refer-doc a{
    display:block;
    text-decoration:none;
    font-size:14px;
    color:white;
    background-color:#D96C6C;
    border-radius:20px;
    padding:15px 20px;
    margin:10px;
}
.Refer-doc{
    display:flex;
    overflow-x:scroll;
    white-space:nowrap;
}
.Refer-doc::-webkit-scrollbar{
height:5px;
}
.Refer-doc::-webkit-scrollbar-track{
    background:#f59e9e;
    border-radius:10px;
}
.Refer-doc::-webkit-scrollbar-thumb{
    background:#953f3f;
    border-radius:10px;
}
.download-refer-doc h3{
    margin-left:10px;
    font-size:14px;
    font-weight:bolder;
    color:#662525;
}
.download-refer-doc{  
    margin:40px 20px 30px 20px;
}

/* Company Images */
.company-gallery a img{
    width:250px;
    height:180px;
    border-radius:20px;
    margin:10px;
    display:block;
}
.company-gallery a{
    display:block;
}
.company-gallery{
    overflow-x:scroll;
    white-space:nowrap;
    display:flex;
}
.company-gallery::-webkit-scrollbar{
    height:5px;
}
.company-gallery::-webkit-scrollbar-track{
    background:#f59e9e !important;
    border-radius:10px;
}
.company-gallery::-webkit-scrollbar-thumb{
    background:#953f3f;
    border-radius:10px;
}
.company-gallery-container h3{
    font-size:14px;
    color:#662525;
    margin-left:10px;
}
.company-gallery-container{
    margin:20px;
}

/* job role description */
.job-title-discription-container{
    background-color:#1d3a91;
    padding:20px;
    border-radius:20px;
}
.job-title-discription-container .job-title-head{
    color:white;
    display:flex;
    justify-content: space-between;
}
.job-title-head h3 p{
    font-size:10px;
}
.job-discrip-img a{
    display:block;
}
.job-discrip-img a img{
    border-radius:20px;
    width: 300px;
    margin:10px;
    box-shadow:2px 2px 10px #030b21;
}
.job-discrip-img{
    margin-top:20px;
    display:flex;
    overflow-x:scroll;
    align-items:center;
}
.job-discrip-img::-webkit-scrollbar{
    height:5px;
}
.job-discrip-img::-webkit-scrollbar-track{
    background:#D96C6C;
    border-radius:10px;
}
.job-discrip-img::-webkit-scrollbar-thumb{
    background:#953f3f;
    border-radius:10px;
}
#job-discrip-img{
    display:none;
}
#job-discription-expand{
    height:30px;
    width:30px;
    border-radius:50%;
    border:none;
    background:white;
}
#job-discription-expand:hover{
    cursor:pointer;
}

/* Important Links */
.important-links{
    Background-color:#f9b6b6;
    margin: 20px 0;
    display:flex;
    height:400px;
    align-items:center;
    /* position:absolute;
    left:0px; */
    overflow-x:scroll;
    white-space:nowrap;
    border-radius:10px;
}
.important-links div{
    width: 200px;
    min-width:250px;
    height:250px;
    background-color:#758cd7;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    border-radius:20px;
    margin:10px;
    padding:20px;
    box-shadow:2px 2px 10px #314a9e;
}
.important-links div h3{
    color:#0d2879;
    font-size:14px;
    text-align:center;
    white-space: pre-wrap;
}
.important-links div a{
    width:100px;
    text-align: center;
    padding:10px;
    font-size:15px;
    text-decoration:none;
    color:white;
    background-color:#1d3a91;
    border-radius: 10px;
    margin-top:10px;
}
.important-links::-webkit-scrollbar{
    height:5px;
}
.important-links::-webkit-scrollbar-track{
    background:#758cd7;
    border-radius:10px;
}
.important-links::-webkit-scrollbar-thumb{
    background:#030b21;
    border-radius:10px;
}

/* social Media */
.social-media a img{
    width:25px;
    margin:20px;
}
.social-media{
    display:flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    background-color
}